@import './reset.css';
*{
  box-sizing: border-box;

}
body{

  font-family:Arial,Verdana,sans-serif;
  /* background-color: #cbc9c9; */


}


.webTitle{
  position: absolute;
  top: 30px;
  left: 30%;
  font-size: 1.6em;



}
.webTitle span{
  font-size: 2.2em;
}


.moveMenu{
  width: auto;
  height: auto;
  position: fixed;
  top: 150px;
  right: 160px;
  text-transform: uppercase;
}
.menuButton{

  display: block;
  width: 100px;
  height: 100px;
  font-family: Dosis-regular;
  font-size:1.6em;
  text-align: center;
  color: #ffffff;
  background-color:hsl(203, 90%, 40%, 40%);
  text-decoration: none;
  padding-top: 40px;
  margin: 6px;
  text-shadow: 1px 1px  1px #6e6c6c;
  box-shadow :  none;
  border-radius: 9px;
  /* cursor: default; */
  transition: 0.3s;
}

.menuButton:hover {
  background-color:hsl(203, 90%, 40%, 80%);
  text-shadow: 1px 1px  1px #6e6c6c;
  box-shadow :  1px 1px  3px #6e6c6c;

}

#about{
  background-color: hsl(326, 90%, 40%, 40%);
}
#about:hover{
  background-color: hsl(326, 90%, 40%, 80%);
}

#github{
  text-decoration: line-through;
  background-color: hsl(32, 90%, 40%, 40%);
  cursor: default;
}
#github:hover{
  background-color: hsl(32, 90%, 40%, 80%);

}


.box{
  display: flex;
  width: 100%;
  height:600px;
  align-items: flex-start;
  justify-content: center;
  /* border: solid 1px #000000; */
}
.intro{
  width: 500px;
  height: auto;
  padding: 10px;
  margin-top: 150px;
  margin-right: 5px;
  line-height: 1.8em;
  /* border: solid 1px #000000; */

}
.intro a{
  color: #000000;
}

.intro a:active{
    color: #000000;
}

@media screen and (max-width: 1020px) {
  .webTitle{
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 1.6em;
  }

  .moveMenu{
   width: auto;
   height: auto;
   position: fixed;

   right: 10%;
}

.intro{
  width: 50%;
  height: auto;
  padding: 10px;
  margin-top: 150px;
  margin-right: 5px;
  line-height: 1.8em;
  /* border: solid 1px #000000; */

}

@media screen and (max-width: 620px) {


  .webTitle{
    position: absolute;
    top: 30px;
    text-align: center;

    font-size: 1.4em;



  }
   .moveMenu{
    width: auto;
    height: auto;
    position: fixed;

    right: 40px;


  }

  .menuButton{

    width: 75px;
    height:75px;
    font-size:1.2em;
    text-align: center;
    padding: auto;
    padding-top: 30px;
    margin: 4px;
    /* float: left; */
    /* 這邊不知道為什麼，要用float:left才能把margin歸零 */
  }
}
